nav {
    padding: 50px 0px 50px;

    .current {
        border-bottom: 2px solid var(--prime-green);

        a {
            background-color: var(--prime-green);
        }
    }

    ul {
        display: flex;
        list-style: none;

        li {
            width: 33%;
            border-bottom: 2px solid var(--prime-purple);
            margin: 0px 1px;
            position: relative;
            display: flex;
            justify-content: center;

            a {
                background: var(--prime-purple);
                color: white;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                position: absolute;
                top: -15px;
            }
        }
    }
}
