:root {
    --prime-white: #fafafa;
    --prime-grey: darkgrey;
    --prime-purple: #501f54;
    --prime-blue: #1dbaff;
    --prime-green: #85be41;
    --second-green: #75a53a;
    --footer: #466f7b;


    --body-font: 'Open Sans', sans-serif;
    --logo-font: 'Pacifico', cursive;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');