* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--body-font);
}

#wrapper {
    background-color: var(--prime-white);
    min-height: 50vh;
    min-width: 80vw;
}

#brand {
    font-family: var(--logo-font);
    font-size: 1.7rem;
    padding-bottom: 25px;

    .green {
        color: var(--prime-green);
    }

    .blue {
        color: var(--prime-blue);
    }

    .slogan {
        color: var(--prime-grey);
        font-family: var(--body-font);
        font-size: 0.9rem;
    }
}

#content {
    display: flex;
}

//the top form navigation 1-2-3
@import "__form-nav.scss";

//Left side with form
@import "__left-side.scss";

//Right Side with add and image
@import '__right-side.scss';

footer {
    background-color: var(--footer);
    padding: 25px 25px;
    color: white;
    display: flex;
    flex-wrap: wrap;

    section {
        width: 50%;
        flex-grow: 1;
        flex-basis: 350px;
        font-size: 0.8rem;
        padding: 20px;
    }

    h1 {
        font-size: 1rem;
    }

}

.hide {
    display: none;
}

@import '__mix-match.scss';