@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: var(--body-font);
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 10px 0px;
}

#wrapper {
  background-color: var(--prime-white);
  min-height: 50vh;
  min-width: 80vw;
}

#brand {
  font-family: var(--logo-font);
  font-size: 1.7rem;
  padding-bottom: 25px;
}

#brand .green {
  color: var(--prime-green);
}

#brand .blue {
  color: var(--prime-blue);
}

#brand .slogan {
  color: var(--prime-grey);
  font-family: var(--body-font);
  font-size: 0.9rem;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  padding: 50px 0px 50px;
}

nav .current {
  border-bottom: 2px solid var(--prime-green);
}

nav .current a {
  background-color: var(--prime-green);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  width: 33%;
  border-bottom: 2px solid var(--prime-purple);
  margin: 0px 1px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  background: var(--prime-purple);
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: absolute;
  top: -15px;
}

#left {
  padding: 25px;
  width: 100%;
}

@media (min-width: 768px) {
  #left {
    width: 60%;
  }
}

form h1, form h2 {
  color: var(--prime-purple);
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0px;
}

.element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 10px 0px;
}

@media (min-width: 768px) {
  .element {
    padding: 0px 10px;
    width: 150px;
    min-width: 50%;
  }
  .element:first-child {
    padding-left: 0px;
  }
  .element:last-child {
    padding-right: 0px;
  }
  .element:only-child {
    padding-left: 0px;
    width: 100%;
  }
}

input {
  padding: 10px;
  border: 1px solid var(--prime-grey);
  border-radius: 3px;
}

input::-webkit-input-placeholder {
  font-family: var(--body-font);
  text-transform: capitalize;
}

input:-ms-input-placeholder {
  font-family: var(--body-font);
  text-transform: capitalize;
}

input::-ms-input-placeholder {
  font-family: var(--body-font);
  text-transform: capitalize;
}

input::placeholder {
  font-family: var(--body-font);
  text-transform: capitalize;
}

input:focus {
  outline: var(--prime-green) auto 1px;
}

.invalid {
  border: 1px solid red;
}

label {
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

button.next {
  background-color: var(--prime-green);
  border-radius: 15px;
  border: 1px solid var(--second-green);
  padding: 10px 25px;
  cursor: pointer;
}

button.next:active {
  background-color: var(--prime-blue);
  color: black;
}

button[type=submit] {
  background-color: var(--prime-blue);
  width: 150px;
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#right {
  display: none;
  background: -webkit-gradient(linear, left top, right top, from(rgba(29, 186, 255, 0.8)), to(rgba(133, 190, 65, 0.5))), url(../img/991-ratio.jpg);
  background: linear-gradient(90deg, rgba(29, 186, 255, 0.8), rgba(133, 190, 65, 0.5)), url(../img/991-ratio.jpg);
  background-size: cover;
  color: white;
}

@media (min-width: 768px) {
  #right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }
}

.add-container {
  width: 70%;
  padding: 25px 25px 25px 0px;
}

.add-container h1 {
  width: 50%;
  padding-bottom: 25px;
}

footer {
  background-color: var(--footer);
  padding: 25px 25px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer section {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  font-size: 0.8rem;
  padding: 20px;
}

footer h1 {
  font-size: 1rem;
}

.hide {
  display: none;
}

:root {
  --prime-white: #fafafa;
  --prime-grey: darkgrey;
  --prime-purple: #501f54;
  --prime-blue: #1dbaff;
  --prime-green: #85be41;
  --second-green: #75a53a;
  --footer: #466f7b;
  --body-font: 'Open Sans', sans-serif;
  --logo-font: 'Pacifico', cursive;
}
/*# sourceMappingURL=style.css.map */