* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--body-font);
}

#wrapper {
    background-color: var(--prime-white);
    min-height: 50vh;
    min-width: 80vw;
}

#content {
    display: flex;
}

#left {
    padding: 25px;
    width: 100%;

    @media (min-width:768px) {
        width: 60%;
    }

}

form {
    h1 {
        color: var(--prime-purple);
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.element {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;

    @media (min-width:768px) {
        padding: 0px 10px;
        width: 150px;
        min-width: 50%;
    }
}

input {
    padding: 10px;
    border: 1px solid var(--prime-grey);
    border-radius: 3px;

    &::placeholder {
        font-family: var(--body-font);
        text-transform: capitalize;
    }
}

label {
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

#right {
    display: none;
    background-color: var(--prime-blue);

    @media (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
}

.add-container {
    padding: 25px;
}

footer {
    background-color: var(--footer);
    padding: 50px 25px 25px;
    color: white;
    display: flex;
    flex-wrap: wrap;

    section {
        width: 50%;
        flex-grow: 1;
        flex-basis: 350px;
        font-size: 0.8rem;
        padding: 0px 20px;
    }

    h1 {
        font-size: 1rem;
    }

}

.hide {
    display: none;
}

@import '__mix-match.scss';