* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--body-font);
}

#wrapper {
    background-color: var(--prime-white);
    min-height: 50vh;
    min-width: 80vw;
}

#brand {
    font-family: var(--logo-font);
    font-size: 1.7rem;
    padding-bottom: 25px;

    .green {
        color: var(--prime-green);
    }

    .blue {
        color: var(--prime-blue);
    }

    .slogan {
        color: var(--prime-grey);
        font-family: var(--body-font);
        font-size: 0.9rem;
    }
}

#content {
    display: flex;
}

nav {
    padding: 50px 0px 50px;

    .current {
        border-bottom: 2px solid var(--prime-green);

        a {
            background-color: var(--prime-green);
        }
    }

    ul {
        display: flex;
        list-style: none;

        li {
            width: 33%;
            border-bottom: 2px solid var(--prime-purple);
            margin: 0px 1px;
            position: relative;
            display: flex;
            justify-content: center;

            a {
                background: var(--prime-purple);
                color: white;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                position: absolute;
                top: -15px;
            }
        }
    }
}

#left {
    padding: 25px;
    width: 100%;

    @media (min-width:768px) {
        width: 60%;
    }

}

form {
    h1 {
        color: var(--prime-purple);
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.element {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;

    @media (min-width:768px) {
        padding: 0px 10px;
        width: 150px;
        min-width: 50%;

        &:first-child {
            padding-left: 0px;
        }

        &:last-child {
            padding-right: 0px;
        }

        &:only-child {
            padding-left: 0px;
            padding-right: 10px;

        }
    }
}

input {
    padding: 10px;
    border: 1px solid var(--prime-grey);
    border-radius: 3px;

    &::placeholder {
        font-family: var(--body-font);
        text-transform: capitalize;
    }

    &:focus {
        outline: var(--prime-green) auto 1px;
    }
}

label {
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

#right {
    display: none;
    background: linear-gradient(90deg, rgba(29, 186, 255, 0.8), rgba(133, 190, 65, 0.5)), url(/assets/img/991-ratio.jpg);
    background-size: cover;
    color: white;

    @media (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
}

.add-container {
    h1 {
        width: 50%;
        padding-bottom: 25px;
    }

    width: 70%;
    padding: 25px 25px 25px 0px;
}

footer {
    background-color: var(--footer);
    padding: 25px 25px;
    color: white;
    display: flex;
    flex-wrap: wrap;

    section {
        width: 50%;
        flex-grow: 1;
        flex-basis: 350px;
        font-size: 0.8rem;
        padding: 20px;
    }

    h1 {
        font-size: 1rem;
    }

}

.hide {
    display: none;
}

@import '__mix-match.scss';